html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #FDF7FF;
  text-decoration: none;
}

a {
  text-decoration: none;
}

#container {
  margin: 0 20px 0 20px;
}

::placeholder {
  color: rgb(54, 54, 54);
  font-weight: bold;
}

.wrapper {
  margin: 0px auto 2.5em auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 20px;
  row-gap: 40px;
  grid-auto-rows: minmax(90px, auto);
}

.header-container {
  grid-column: 2 / 6;
  grid-row: 1;
  position: sticky;
  top: 0;
  z-index: 1;
}

.picture {
  grid-column: 5/7;
  grid-row: 2 / 6;
  background-color: aquamarine;
  border-radius: 15px;
}

.about {
  grid-column: 1 / 5;
  grid-row: 2 / 6;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.236);
}

.skills-container {
  grid-column: 1/7;
  grid-row: 6/7;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
}

.header {
  margin-top: 20px;
  display: grid;
  background-color: #D5CABD;
  grid-template-columns: repeat(3, 1fr);
  height: 40px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px #00000099;
  -webkit-box-shadow: inset 0 0 3px #00000099;
}

.sliding {
  margin-left: 5px;
  border-radius: 15px;
  align-self: center;
  position: absolute;
  width: 32%;
  height: 30px;
  background-color: white;
  z-index: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.285);
  transition: all 0.3s ease-in-out;
}

.header input {
  position: relative;
  background-color: transparent;
  margin: 0 5px;
  padding: 6px;
  align-self: center;
  text-align: center;
  border-radius: 20px;
  font-size: 1.05rem;
  font-weight: 550;
  border: none;
  outline: none;
}

.header input:hover {
  cursor: pointer;
}

.about {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-auto-rows: minmax(5px, 5px);
  row-gap: 1.5rem;
}

.about-title {
  padding-top: 0.6rem;
  grid-column: 2/10;
  grid-row: 1;
  line-height: .4rem;
  font-size: 1.4rem;
  color: #654BC4;
  font-style: italic;
}

.about-content {
  grid-column: 2/15;
  grid-row: 4;
  color: #000000;
  font-size: 1.08rem;
  font-weight: 500;
  line-height: 1.45rem;
}

.contact-me-button {
  grid-column: 2/7;
  grid-row: 14/15;
  margin-top: 1rem;
  height: 3.5rem;
  cursor: pointer;
  border: none;
  color: white;
  background-color: #3c2a80;
  transition: all 0.5s;
  font-size: 1.4rem;
  font-weight: 550;
}

.contact-me-button:hover {
  background-color: #6d50d3;
  padding-right: 3rem;
}

.about-content span {
  font-size: 1.5rem;
  font-weight: 600;
  color: #654BC4;
}

.skills-container div {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(1, 1fr);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: black;
}

.skills-container div img {
  margin: auto;
  filter: invert(7%) sepia(3%) saturate(6144%) hue-rotate(347deg) brightness(107%) contrast(99%);
  height: 3.3rem;
}

.javascript-icon {
  grid-column: 2;
}

.html-icon {
  grid-column: 4;
}

.css-icon {
  grid-column: 6;
}

.react-icon {
  grid-column: 8;
}

.python-icon {
  grid-column: 10;
}

.flask-icon {
  grid-column: 12;
}

.education {
  grid-column: 1/7;
  grid-row: 7/10;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(20, 1fr);
  grid-auto-rows: minmax(90px, auto);
}

.education-title {
  grid-column: 1/20;
  align-self: center;
  margin: auto;
  font-size: 2.7rem;
  font-style: italic;
  color: #654BC4;
}

.education .education-component {
  background-color: #ffffff;
  display: grid;
  grid-auto-rows: minmax(60px, 60px);
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.238);
}

.finki {
  grid-column: 3/19;
  grid-template-columns: repeat(23, 1fr);
  grid-row: 2;
}

.semos {
  grid-column: 3/11;
  grid-template-columns: repeat(20, 1fr);
  grid-row: 3;
}

.python-cert {
  grid-column: 11/19;
  grid-template-columns: repeat(20, 1fr);
  grid-row: 3;
}

.finki .company {
  grid-row: 2;
  font-size: 1.3rem;
  grid-column: 2/20;
}

.finki .field {
  font-size: 1.5rem;
  font-weight: 500;
  grid-column: 2/20;
  grid-row: 1;
  color: #654BC4;
}

.finki .year {
  grid-column: 2/20;
  font-size: 1.3rem;
  grid-row: 3;
}

.python-cert .year,
.semos .year {
  grid-column: 3/20;
  font-size: 1.3rem;
  grid-row: 3;
}

.python-cert .company,
.semos .company {
  grid-row: 2;
  font-size: 1.3rem;
  grid-column: 3/20;
}

.python-cert .field,
.semos .field {
  color: #654BC4;
  font-weight: 500;
  font-size: 1.5rem;
  grid-column: 3/20;
  grid-row: 1;
}

.projects {
  grid-column: 1/7;
  grid-row: 10/19;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(100px, auto);
  place-items: center;
  row-gap: 3rem;
}

.project-title {
  grid-column: 1/3;
  grid-row: 1;
  margin: auto;
  font-size: 3.2rem;
  font-style: italic;
  color: #654BC4;
}

.project-container {
  background-color: white;
  width: 63rem;
  height: 17.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.268);
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-auto-rows: minmax(20px, 20px);
  row-gap: 1px;
}

.project-container img {
  width: 35rem;
  grid-column: 16/31;
}

.project-container h3,
.project-container .project-content,
.project-container .project-links {
  grid-column: 2/16;
}

.project-container h3 {
  grid-row: 1;
  font-size: 1.4rem;
  color: #463487;
}

.repo {
  background-color: white;
  color: #4f35ab;
  padding: 5px 10px;
  border: 1px solid #4f35ab;
  font-weight: 500;
  transition: all 0.2s;
}

.repo:hover {
  color: #ffffff;
  background-color: #4f35ab;
  cursor: pointer;
  border: none;
}

.project-container .project-content {
  grid-row: 4;
  font-size: 1.03rem;
  line-height: 1.5rem;
}

.project-container .project-links {
  grid-row: 12;
}

.portfolio-app img {
  width: 0;
}

.portfolio-app .project-content{
  grid-column: 2/30;
}

.data-cleaning {
  grid-column: 1;
  grid-row: 2;
}

.portfolio-app {
  grid-column: 1;
  grid-row: 3;
}

.sports-store {
  grid-column: 1;
  grid-row: 4;
}

.sports-store img {
  height: 17.5rem;
}

.sports-store .repo{
  visibility: hidden;
}

.furniture-store {
  grid-column: 1;
  grid-row: 5;
}

.contact {
  grid-column: 1/7;
  grid-row: 19/25;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(10px, auto);
}

.contact-me {
  grid-row: 1;
  grid-column: 1/16;
  margin: auto;
  font-size: 3.2rem;
  font-style: italic;
  color: #654BC4;
}

.links-container {
  grid-column: 2/7;
  display: grid;
  grid-row: 2;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(50px, 110px);
}

.links-container a {
  width: 280px;
  margin: 1.5em auto 1.5em auto;
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  cursor: pointer;
  background: none;
  transition: all 0.3s;
  text-decoration: none;
  background-color: #463487;
}

.links-container a:hover {
  background-color: #654BC4;
}

.links-container a img {
  margin: auto;
  grid-column: 2;
  height: 2.6rem;
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(279deg) brightness(112%) contrast(101%);
}

.links-container a div {
  grid-column: 3;
  text-align: left;
  align-self: center;
  font-size: 1.6rem;
  font-weight: 500;
  color: #ffffff;
}

.github-container {
  grid-row: 1;
}

.linkedin-container {
  grid-row: 2;
}

.my-email {
  grid-row: 3;
  font-size: 1.3rem;
  margin: 1em auto 0 auto;
  color: #4f35ab;
  font-weight: 500;
}

#myForm {
  grid-row: 2;
  margin-top: 2rem;
  grid-column: 8/14;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(20px, auto);
  row-gap: 30px;
}

#myForm div input {
  min-height: 3rem;
  width: 25.2rem;
  border: none;
  outline: none;
  padding-left: 1.1rem;
  background-color: #ffffff;
  color: black;
  font-size: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.289);
  font-weight: 550;
}

.email {
  grid-row: 1;
}

.message {
  grid-row: 2/5;
}

.message textarea {
  width: 24.3rem;
  outline: none;
  border: none;
  font-family: sans-serif;
  padding: 1.1rem;
  resize: none;
  background-color: #ffffff;
  font-size: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.289);
  font-weight: 550;
}

.btn-submit {
  grid-row: 5;
  height: 3rem;
  width: 8rem;
  margin: auto;
  border: none;
  background-color: #463487;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  color: white;
  transition: all .2s;
}

.btn-submit:hover {
  background-color: #654BC4;
}